@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 18 18 18;
  --foreground: 250 250 250;
  --card: 26 26 26;
  --card-foreground: 250 250 250;
  --popover: 26 26 26;
  --popover-foreground: 250 250 250;
  --primary: 251 146 60;
  --primary-foreground: 23 23 23;
  --secondary: 36 36 36;
  --secondary-foreground: 250 250 250;
  --muted: 36 36 36;
  --muted-foreground: 161 161 161;
  --accent: 36 36 36;
  --accent-foreground: 250 250 250;
  --destructive: 127 29 29;
  --destructive-foreground: 250 250 250;
  --border: 51 51 51;
  --input: 51 51 51;
  --ring: 251 146 60;
}

* {
  border-color: rgb(var(--border));
}

body {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
  font-family: -apple-system, BlinkMacSystemFont, 'Inter', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}